practise_crm_learning/.vs/practise_crm_learning/FileContentIndex/e01512af-2e83-4494-b370-85a51250e857.vsidx
practise_crm_learning/.vs/practise_crm_learning/FileContentIndex/e3b075b3-522e-4bbf-b6bb-262ad1708f98.vsidx
practise_crm_learning/.vs/practise_crm_learning/FileContentIndex/efce909e-de17-40f9-92e7-976bad0c4b7c.vsidx
